In [1]:
# Import Modules
import pandas as pd
import requests
from splinter import Browser
from bs4 import BeautifulSoup

In [103]:
# Scraping Nasa Mars News
executable_path={'executable_path':'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
news_url = 'https://mars.nasa.gov/news/'

browser.visit(news_url)
text_news = browser.html
soup_news = BeautifulSoup(text_news, 'html.parser')

posts_news = soup_news.find_all(class_='slide')

titles = posts_news[0].find_all(class_='content_title')
descriptions = posts_news[0].find_all(class_='article_teaser_body')
first_title = titles[0].text
first_description = descriptions[0].text
browser.quit()

print(first_title)
print(first_description)

Mars Scientists Investigate Ancient Life in Australia
Teams with NASA's Mars 2020 and ESA's ExoMars practiced hunting for fossilized microbial life in the Australian Outback in preparation for their Red Planet missions.

In [104]:
# Scraping image
executable_path={'executable_path':'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

browser.visit(image_url)
text_images = browser.html
soup_images = BeautifulSoup(text_images, 'html.parser')

posts_images = soup_images.find_all(class_='thumb')
first_image = 'https://www.jpl.nasa.gov' + posts_images[0]['src']
browser.quit()
print(first_image)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23539-640x350.jpg

In [86]:
# Scrape Mars Weather text and image

executable_path={'executable_path':'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
weather_url = 'https://twitter.com/marswxreport?lang=en'

browser.visit(weather_url)
text_weather = browser.html
soup_weather = BeautifulSoup(text_weather, 'html.parser')

posts_weather = soup_weather.find_all(class_='TweetTextSize')
first_weather = posts_weather[0].text
posts_weather_img = soup_weather.find_all(class_='AdaptiveMedia-photoContainer')
first_weather_img = posts_weather_img[0].find_all('img')
first_weather_img_url = first_weather_img[0]['src']
first_weather_img_url
browser.quit()

print(first_weather)
print(first_weather_img_url)

InSight sol 345 (2019-11-15) low -100.4ºC (-148.6ºF) high -23.9ºC (-11.1ºF)
winds from the SSE at 5.4 m/s (12.0 mph) gusting to 20.2 m/s (45.3 mph)
pressure at 6.80 hPapic.twitter.com/LM9HL7PUX0
https://pbs.twimg.com/media/EJlFLApX0AAKU0-.jpg

In [92]:
# Scrape Mars Facts

facts_url = 'https://space-facts.com/mars/'
facts_df = pd.read_html('https://space-facts.com/mars/')

mars_facts_df = facts_df[0]
mars_comparison_df = facts_df[1]

mars_facts_df.to_html('mars_facts.html')
mars_comparison.to_html('mars_comparison.html')

In [97]:
mars_facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [98]:
mars_comparison_df

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [100]:
# Mars hemisphere scraping

hemi_data = [
    {"title": "Valles Marineris Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg"},
    {"title": "Cerberus Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg"},
    {"title": "Syrtis Major Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg"},
]